export DATABASE_TYPE="postgres"
export DATABASE_HOST="localhost"
export DATABASE_PORT="5432"
export DATABASE_USERNAME="postgres"
export DATABASE_NAME="default"
export DATABASE_PASSWORD="12345678"
export PGDATA="/data/pg-data"
export BACKEND_PORT="3000"


export DATABASE_URL="${DATABASE_TYPE}://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"

export SESSION_SECRET="your_very_long_secret__at_least_32_chars_long133"

export REDIS_PORT="6379"
export SESSION_FOLDER="user-session"
export REDIS_URI="redis://redis:6379"


export IMAGE_TAG="main"
export REDIS_IMAGE="ghcr.io/multi-repo/redis/redis"
export NESTAPI_IMAGE="ghcr.io/vwency/nestjs-api/nest-api"
export PG_IMAGE="bitnami/postgresql"
export IMAGE_TAG_PG="latest"
export JWT_ACCESS_SECRET="your_very_long_secret__at_least_32_chars_long133your_very_long_secret__at_least_32_chars_long133"

